{
  "Role": "{{ iam_role_arn }}",
  "Rules": [
    {
      "Prefix": "",
      "Status": "Enabled",
      "Destination": {
        "Bucket": "arn:aws:s3:::{{ destination_bucket_name }}",
        "StorageClass": "STANDARD"
      }
    }
  ]
}